@model FProjectCampingBackend.Models.EFModels.Room

@{
    ViewBag.Title = "房型刪除";
}

<div class="container mt-5">
    <h2 class="mainright_title">刪除房型</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 editarea">
            <div class="card editrightarea">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">房型名稱</label>
                        <p class="form-control">@Html.DisplayFor(model => model.RoomType.Name)</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">房間名稱</label>
                        <p class="form-control">@Html.DisplayFor(model => model.RoomName)</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">描述</label>
                        <p class="form-control">@Html.DisplayFor(model => model.Description)</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">周末價格</label>
                        <p class="form-control">@Html.DisplayFor(model => model.WeekendPrice)</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">平日價格</label>
                        <p class="form-control">@Html.DisplayFor(model => model.WeekdayPrice)</p>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div style="display: flex; flex-direction: column; align-items: stretch;">
                    <input type="submit" value="確認刪除" class="btn btn-danger btn-lg" style="margin-bottom: 10px; min-width: 100%;" />
                    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-secondary" })
                </div>




                    }
                </div>
            </div>
        </div>
    </div>
</div>



