<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Camping放鬆村</title>
    <link rel="shortcut icon" href="~/images/camping.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dela+Gothic+One&family=Kaisei+Decol&family=Kaisei+Tokumin&family=Mochiy+Pop+P+One&family=Yuji+Mai&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/main_all.css">
    @RenderSection("css", required: false)
</head>
<body>

    <!--導覽列 begin-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top nav_bg">
        <div class="container">
            <a class="navbar-brand hometitle" href="@Url.Action("Index", "Home", new { area = "" })">
                <span>
                    <img src="~/images/camping.png" alt="" style="width: 28px;"
                         class="img-fluid align-baseline">
                </span>Camping放鬆村
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home", new { area = "" })#s2">關於我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "News", new { area = "" })">最新消息 </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            營區房型
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">河畔區-雙人床</a></li>
                            <li><a class="dropdown-item" href="#">森林區</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Roomtype", "Rooms", new { area = "" })"><i class="bi bi-calendar2-week"></i>&nbsp;預約去</a>
                    </li>
                </ul>
                <div class="memberNav d-flex flex-nowrap ">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            <a href="@Url.Action("Index", "Members", new { area = "" })" class="text-white me-2 ms-2"><i class="bi bi-person-fill"></i>會員專區</a>
                            <div>
                                <a href="@Url.Action("Cart", "Carts", new { area = "" })" class="text-white  me-2 ms-1"><i class="bi bi-cart pe-1"></i>(<span id="cartItemCount">0</span>)</a>
                            </div>

                            @Html.ActionLink("登出", "Logout", "Members", new { area = "" }, new { @class = "text-white logoutbtn" })

                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Members", new { area = "" })" class="text-white"><i class="bi bi-person-fill"></i>會員登入</a>

                        }
                    }
                </div>
            </div>
        </div>
    </nav>
    <!--導覽列 end-->
    <div class="main">
        @RenderBody()

        <footer>
            <div><img src="~/images/campinglogo3.png" alt="" class=""></div>
            <div>&copy; @DateTime.Now.Year - Camping放鬆村</div>
            <div>本圖片素材引用來源自FREEPIK並僅作為學術用途</div>
        </footer>
    </div>

    <script src="https://kit.fontawesome.com/fa483230ea.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>