@model IEnumerable<OrderItemsVm>

@{
    ViewBag.Title = "訂單內容";
}

<div class="container text-center">
    <div class="editarea">
        <div class="mainright">
            <h2 class="mainright_title">訂單內容</h2>

            <table class="table">
                <tr class="table-warning">
                    <th>
                        @Html.DisplayNameFor(model => model.RoomType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CheckInDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CheckOutDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Days)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckInDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckOutDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div>
    <div class="text-end mt-3 backtomember">
        <i class="bi bi-arrow-left-square-fill"></i>
        @Html.ActionLink("訂單頁面", "Index")
    </div>
</div>

@section css{
    <style>
        .mainright_title {
            border-bottom: #000 1px solid;
            margin-bottom: 3%;
            text-align: left;
        }

        .editarea {
            display: flex;
            /*justify-content: center;*/
            align-content: center;
            /* background: #fff3e0;*/
            padding: 2%;
            border-radius: 21px;
            box-shadow: 1px 1px 10px #d4d4d4;
            border: 1px solid;
            margin: 4% 0;
        }

        .editleftarea {
            width: 30%;
            padding: 2%;
        }

        .editrightarea {
            font-size: 1.3rem;
            display: flex;
            flex-wrap: wrap;
            text-align: left;
        }

        .right1 {
            width: 60%;
        }

        .mainright {
            width: 100%;
            padding: 2%;
        }
    </style>

}