@model FProjectCamping.Models.ViewModels.Members.EditPasswordVm

@{
    ViewBag.Title = "修改密碼";
    var member = ViewBag.CurrentMember as FProjectCamping.Models.EFModels.Member;
}
@section css{
    <link rel="stylesheet" href="~/css/main_member.css">
}

<div class="container">

    <div class="memberarea">

        <div class="row memberinner justify-content-around">
            @{
                Html.RenderPartial("_mod_membernav", member);
            }
            <div class="col-lg-8 ps-4 pe-4 row align-content-space-between">

                <div class="text-start">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal row ">
                            <div class="righttitle">
                                <h3 class="border-bottom pb-3">修改密碼</h3>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                            <div class="mb-3">
                                @Html.LabelFor(model => model.OrgiginalPassword, htmlAttributes: new { @class = "form-label col-md-2" })


                                <div class="pwdarea">
                                    @Html.EditorFor(model => model.OrgiginalPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="input-group-append togglePassword">
                                        <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
                                    </div>
                                </div>

                                @Html.ValidationMessageFor(model => model.OrgiginalPassword, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-2" })

                                <div class="pwdarea">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="input-group-append togglePassword">
                                        <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
                                    </div>
                                </div>
                                <div id="passwordHelpBlock" class="form-text">
                                    必須包含1個特殊符號且不得少於8碼
                                </div>

                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label col-md-2" })

                                <div class="pwdarea">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="input-group-append togglePassword">
                                        <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
                                    </div>
                                </div>


                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3 mt-5">
                                <div class="text-end">
                                    <input type="submit" value="變更密碼" class="btn btn-dark" />
                                </div>

                            </div>
                        </div>
                    }

                </div>
                <div class="mt-2">
                    <div class="text-end">
                        <button type="button" id="setButton" onclick="setDefaultAccount()" class="btn btn-primary">Demo</button>
                        <button type="button" id="setButton2" onclick="setDefaultAccount2()" class="btn btn-primary">Demo2</button>
                    </div>
                </div>
                <div class="text-end mt-3 backtomember">
                    <i class="bi bi-arrow-left-square-fill"></i>
                    @Html.ActionLink("回到會員專區", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/js/main_password.js"></script>


    <script>
        function setDefaultAccount() {
            var passwordInput = document.getElementById("OrgiginalPassword");
            passwordInput.value = "12345678@@";
            var passwordInput = document.getElementById("Password");
            passwordInput.value = "12345@12345";
            var passwordInput = document.getElementById("ConfirmPassword");
            passwordInput.value = "12345@12345";

        }
        function setDefaultAccount2() {
            var passwordInput = document.getElementById("OrgiginalPassword");
            passwordInput.value = "12345@12345";
            var passwordInput = document.getElementById("Password");
            passwordInput.value = "12345678@@";
            var passwordInput = document.getElementById("ConfirmPassword");
            passwordInput.value = "12345678@@";

        }
    </script>
}
